@model EventPlanning.Common.DTOs.EventDto.EventCreateDto;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <form asp-controller="Event" asp-action="Create" method="post">
        <div>
            <div>
                <input type="text" name="Title" placeholder="Название">
            </div>
            <div>
                <input type="text" name="Description" placeholder="Описание">
            </div>
            <div>
                <input type="text" name="Location" placeholder="Место проведения">
            </div>
            <div>
                <input type="datetime-local" name="DateAndTime" placeholder="Дата и время">
            </div>
            <div>
                <input type="number" name="TotalParticipants" placeholder="Количество мест">
            </div>
        </div>
        <input type="submit" value="Добавить">
    </form>
</div>
</body>
</html>